<header>
	<h1>TUDO-Ticket-Downloader</h1>
	<p>…Weil man keine App für einen QR-Code brauchen sollte.</p>
</header>

<slot />

<footer>
	<a href="https://codeberg.org/jfowl/tudo-ticket-downloader">Quellcode</a>
	·
	<a href="https://zohren.xyz/datenschutz.html">Datenschutz</a>
</footer>

<style>
	footer {
		margin-top: 4rem;
	}
</style>
