<script lang="ts">
	import type { ActionData } from './$types';

	//export let data: PageData;

	export let form: ActionData;
</script>

{#if form?.ticketIds}
	<fieldset>
		<legend>2️⃣ Ticket(s) herunterladen</legend>
		{#each form?.ticketIds as ticketId}
			<a class="button" href="/download/{ticketId}" download>Download {ticketId}</a>
		{/each}
		<p>
			<i>
				Übrigens: Mit <a href="https://catima.app/">der Catima-App</a> kannst du dir dein Ticket-QR-Code
				auch ohne TU-App einfach anzeigen lassen. Einfach den QR-Code einscannen, einen Homescreen-Shortcut
				erzeugen und schon hast du dein Ticket immer griffbereit ;)
			</i>
		</p>
	</fieldset>
{:else}
	<fieldset>
		<form method="post" action="?/login">
			<legend>1️⃣ Mit TU Dortmund-SSO einloggen</legend>
			<p class="warning">
				<b>Vorsicht!</b> Das ITMC rät dringend davon ab, das Passwort für das TU Dortmund-SSO an
				Dritte weiterzugeben. Diese Website könnte deinen Login klauen und damit dem Rektor in
				deinem Namen boshafte E-Mails schreiben oder dich exmatrikulieren.
				<br />
				<br />
				Du solltest diese Website daher nicht benutzen. Stattdessen: Lade dir den
				<a href="https://codeberg.org/jfowl/tudo-ticket-downloader">Quellcode</a> herunter, lies ihn
				durch und führe die App lokal aus.
			</p>
			<p>
				<label for="input_username">Benutzername:</label>
				<input name="username" id="input_username" type="text" placeholder="smmamus" required />
			</p>
			<p>
				<label for="input_password">Passwort:</label>
				<input
					name="password"
					id="input_password"
					type="password"
					placeholder="sicher123"
					required
				/>
			</p>
			<p>
				<label>
					<input type="checkbox" name="give-up-my-precious-login-data" required />
					Ich bin wahnsinnig und gebe mein TU-Passwort an eine fremde Website weiter.
				</label>
			</p>
			<p>
				<input type="submit" value="Login und Tickets laden" />
			</p>
		</form>
	</fieldset>
{/if}

<style>
	p.warning {
		border-color: red;
		border-style: solid;
		border-width: 0.1rem;
		border-left-width: 0.4rem;
		border-radius: 0.4rem;
		padding: 0.5rem;
		padding-left: 0.7rem;
	}
</style>
